@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     A variety of web projects around standardization in Systems Biology. I'm 
     engaged with the following standard efforts:  
</p>

<table>
<tr>
    <td style="text-align: center; vertical-align:top">
        <p><img src="../../Content/images/Official-sbml-supported-70.jpg" 
        alt="SBML Logo"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The Systems Biology Markup Language or SBML is a markup language 
            for encoding computational models in Systems Biology. It allows
            to encode metabolic, gene-regulatory, signalling models as well as
            purely mathematical models. Since the recent release of SBML
            Level 3 this language is now extensible which allows to capture new
            modeling paradigms as well. 
        </p>
        <p>More information: <a href="http://sbml.org/">sbml.org</a></p>
    </td>
</tr>
<tr>
    <td style="text-align: center; vertical-align:top">
        <p>
            <img src="../../Content/images/LogoWhiteBackBlackLetters-150.png" 
            alt="SBGN logo" /></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The Systems Biology Graphical Notation or SBGN aims to standardize 
            the way maps of computational models in Systems Biology are drawn. 
            This challenges the way we have drawn network maps in the past. To
            make it easier to adopt we support the SBML Layout & Rendering 
            Extension and allow conversion from other formats (including the format
            developed as part of the libSBGN project SBGN-ML) to make it readily
            accessible. 
        </p>
        <p>More information: <a href="http://sbgn.org/">sbgn.org</a></p>
    </td>
</tr>
<tr>
    <td style="text-align: center; vertical-align:top">
        <p>
            <img src="../../Content/images/SED-MLlogo.png"  
            alt="SED-ML logo"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The Simulation Experiment Description Markup Language or SED-ML is
            a new standard that helps to encode the simulation experiments that
            we perform on computational models. 
        </p>
        <p>More information: <a href="http://sed-ml.org/">sed-ml.org</a></p>
    </td>
</tr>

</table>

<p>
     For more information, see my blog: 
     <a href="http://frank-fbergmann.blogspot.com" 
     title="Frank T. Bergmann's blog">Frank T. Bergmann's blog.</a>
</p>
