@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     A variety of web projects around standardization in Systems Biology. For more information, 
     see also my blog: <a href="http://frank-fbergmann.blogspot.com" title="Frank T. Bergmann's blog">Frank T. Bergmann's blog.</a>
</p>
