@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>
<p>
    This site hosts several projects around standardization in Systems Biology: 
</p>
<ul>
<li><a href="/SED-ML Web Tools" title="SED-ML Web Tools"> SED-ML Web Tools</a></li>
</ul>
