@{
    ViewBag.Title = "SysBio Apps";
}

<h2>Welcome</h2>
<p>
    This site hosts several projects around @Html.ActionLink("standardization", "About") in Systems Biology: 
</p>

<table>
<tr>
    <td style="text-align: center; vertical-align:top">
        <p> 
            <img src="../../Content/images/sed-ml-web-tools.png" width="250px"
        alt="SED-ML Web Tools"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The SED-ML Web Tools provide an easy way to create, edit, execute
            or validate SED-ML documents. It provides a <a 
            href="http://sysbioapps.dyndns.org/SED-ML Web Tools/Home/Create">
            wizard</a> that creates SED-ML documents from SBML models. All 
            functionality is implemented using <a href="http://libsedml.sf.net"
            >LibSEDML</a> a set of .NET libraries for handling SED-ML documents.
            A standalone version is available with the SED-ML Script Editor as 
            available from the libSedML download page. 
        </p>
        <p>Project: <a href="/SED-ML Web Tools" title="SED-ML Web Tools"
        >SED-ML Web Tools</a>
        </p>
    </td>
</tr>

<tr>
    <td style="text-align: center; vertical-align:top">
        <p> 
            <img src="../../Content/softwareindex.png" width="250px"
        alt="SBML Software Index"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The <a href="http://sbml.org/SBML_Software_Guide">SBML Software Guide</a> 
            as found on the SBML homepage provides a list of software packages known
            to work with SBML. In May of 2011 a new call was made for tool authors to
            submit their tools for inclusion. This survey is ongoing and you can still 
            <a href="http://sbml.org/SBML_Software_Guide/SBML_Software_Details_Entry_Questionnaire">
            submit your entry</a>. The Softeare Index uses the <a href="http://www.microsoft.com/silverlight/pivotviewer/">
            PivotViewer</a> to display the results using Silverlight. 
        </p>
        <p>Project: @Html.ActionLink("SBML Software Index", "Index", "SoftwareMatrix")
        </p>
    </td>
</tr>

<tr>
    <td style="text-align: center; vertical-align:top">
        <p> 
            <img src="../../Content/LayoutApp.png" width="250px"
        alt="Layout Web Application"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The layout application renders SBML models with Layout / Render
            information. Additionally it supports SBGN-ML files. Have a look!
        </p>
        <p>Project: @Html.ActionLink("Layout", "Index", "Layout")
        </p>
    </td>
</tr>

<tr>
    <td style="text-align: center; vertical-align:top">
        <p> 
            <img src="../../Content/TranslatorApp.png" width="250px"
        alt="Layout Web Application"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The Translator applications allows to translate SBML into 
            a variety of other formats, including Matlab, XPP 
        </p>
        <p>Project: @Html.ActionLink("Translator", "Index", "Translator")
        </p>
    </td>
</tr>
    <tr>
    <td style="text-align: center; vertical-align:top">
        <p> 
            <img src="../../Content/RenderComparison.png" width="250px"
        alt="SBGN-ML Render Comparison"/></p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:top">
        <p>
            The RenderComparison project displays how different applications 
            render the SBGN markup langauge that is developed as part of the 
            <a href="http://libsbgn.sf.net">libSBGN</a> project. We display
            renderings from SBGN-ED and PathVisio-SBGN next to the display of my
            <a href="http://sbmllayout.sf.net">SBML Layout</a> library. 
        </p>
        <p>The application is interactive, such that you can upload SBGN files
           or post directories containing SBGN files.
         </p>
        <p>Project: <a href="/RenderComparison" title="SBGN-ML Render Comparison">
            SBGN-ML Render Comparison</a>
        </p>
    </td>
</tr>
</table>

<p>
    Further online resources are still on <a href="http://sys-bio.org">sys-bio.org</a>
    but will be migrated soon. There you have: 
</p>
<ul>
    <li><a href="http://sbw.kgi.edu/Layout">Layout Rendering (and auto layout)</a></li>
    <li><a href="http://sbw.kgi.edu/Simulation2005">Simulation of SBML models</a></li>
    <li><a href="http://sbw.kgi.edu/SBMLTranslator">Translation of SBML models</a></li>
</ul>

<p>You might also want to take a look at the <a href="http://sbml.org/validator">SBML Online Validator</a>. </p>

