@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<p style="color:Gray; text-align:justify">
    I strongly believe in making computational resources widely available. For this
    reason all of my programs are written so as to be reusable. Either directly 
    by using the .NET assembly, or via an SBW integration. I also provide W3C web
    services which can be readily used from other languages or operating systems. 
    On this page you can find a collection of them.
</p>

<table>
<tr>
    <td style="text-align: center; vertical-align:top;width:200px">
    <p>SED-ML Services</p></td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>A set of methods that allows to create SED-ML documents easily. Either
        directly from an SBML model, or by converting to and from 
        <a href="http://precedings.nature.com/documents/6105/version/1" >SED-ML script</a>.  
        </p>
        <p>
        <a href="http://sysbioapps.dyndns.org/SED-ML%20Web%20Tools/Services/SedMLService.asmx">test service</a> | 
        <a href="http://sysbioapps.dyndns.org/SED-ML%20Web%20Tools/Services/SedMLService.asmx?WSDL">WSDL</a>
        </p>        
    </td>
</tr>
</table>

<p style="color:Gray; text-align:justify">
    On the <a href="http://sys-bio.org">SBW home page</a> we also provide the 
    <a href="http://sys-bio.org/SBWWEbServiceCreatorInterface/">Web Service Creator</a>
    that allows you to generate W3C web service wrappers to all installed SBW modules.
    Among those: roadRunner, the SBML translators and the SBML layout support.
</p>
