@{
    ViewBag.Title = "Software";
}

<h2>Software</h2>
<p style="color:Gray">
    I have been involved with many software projects for Systems Biology, 
    here a selection of my favorite ones. 
</p>

<table>
<tr>
    <td>
        <img src="../../Content/images/SBW-Logo.png" alt="SBW Logo" /></td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>The Systems Biology Workbench or SBW is my favorite project, the tools
        included with it cover all aspects of the modeling cycle for Systems
        Biology: analysis, creation and editing, simulation and visualization
        of models. </p>
        <p>Download your version of SBW today from: <a href="http://sys-bio.org/">sys-bio.org</a></p>
    </td>
</tr>
</table>

<h2>Libraries</h2>
<p style="color:Gray">
    Software libraries provide the foundation, that make it easy to develop
    novel applications. In the last couple of years I prefered creating 
    these libraries in .NET, as it allows me to work on them in my free time.
</p>

<table>
<tr>
    <td style="width: 240px"> 
        <p class="lib">SBML Layout</p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>
            The SBML Layout library provides support for the SBML 
            <a href="http://sbml.org/Community/Wiki/SBML_Level_3_Proposals/Layout">Layout</a> and 
            <a href="http://sbml.org/Community/Wiki/SBML_Level_3_Proposals/Rendering">Rendering</a>
            Extension. It also implements import for JDesigner and CellDesigner annotations, as 
            well as the SBGN markup language.
        </p>
        <p>Project web site: <a href="http://sbmllayout.sf.net/">sbmllayout.sf.net</a></p>
    </td>
</tr>

<tr>
    <td style="width: 240px"> 
        <p class="lib">libSedML</p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>
            The libSedML library provides support for the simulation experiment
            description markup language (SED-ML). It not only allows to create
            SED-ML documents as well as to simulate and validate them.
        </p>
        <p>Project web site: <a href="http://libsedml.sf.net/">libsedml.sf.net</a></p>
    </td>
</tr>

<tr>
    <td style="width: 240px"> 
        <p class="lib">RoadRunner</p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>
            RoadRunner is my state of the art SBML simulator, supporting SBML (up to Level 3 Version 1). 
        </p>
        <p>Project web site: <a href="http://roadrunner.sf.net/">roadrunner.sf.net</a></p>
    </td>
</tr>

<tr>
    <td style="width: 240px"> 
        <p class="lib">SBRML</p>
    </td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>
            Supports the SBRML format for encoding results. 
        </p>
        <p>Project web site: <a href="http://sbrml.sf.net/">sbrml.sf.net</a></p>
    </td>
</tr>

</table>

