@{
    ViewBag.Title = "Software";
}

<h2>Software</h2>
<p style="color:Gray">
    I have been involved with many software projects for Systems Biology, 
    here a selection of my favorite ones. 
</p>

<table>
<tr>
    <td>
        <img src="../../Content/images/SBW-Logo.png" alt="SBW Logo" /></td>
    <td>&nbsp;</td>
    <td style="text-align: justify; vertical-align:text-top">
        <p>The Systems Biology Workbench or SBW is my favorite project, the tools
        included with it cover all aspects of the modeling cycle for Systems
        Biology: analysis, creation and editing, simulation and visualization
        of models. </p>
        <p>Download your version of SBW today from: <a href="http://sys-bio.org/">sys-bio.org</a></p>
    </td>
</tr>
</table>
